<div class="container-welcome">
</div>
<aside id="saved-queries" class="col-4">
    <h4>Saved Queries</h4>
    <ul id="query-list">
    </ul>
</aside>
<main class="main col-8">
    <h4>
        <input id="query-name" type="text" placeholder="Query Name" />
        <button id="new">+ New</button>
    </h4>
    <textarea placeholder="SQL code" id="query"></textarea>
    <button id="save-query">
        Save and execute
    </button>
    <section>
        <h4>Results</h4>
        <textarea id="results">Beans</textarea>
    </section>
</main>
<script src="/javascript/query.js"></script>