<div class="container-fluid">
    <div class="row">
        
        {{!-- redo this page with flexbox --}}
        <main class="main col">
            <aside id="saved-queries ">
            <h4>Saved Queries</h4>
            <select id="query-list" class="form-control">
                <option value="none" selected disabled hidden>
                    Select a query
                </option>
            </select>
        </aside>
            <div>
                <label for="query-name">Query Name</label>
                <input id="query-name" type="text" class="form-control" />
                <div class="button">
                    <button class="btn btn-primary" id="new">+ New Query</button>
                </div>
            </div>
            <div>
                <label for="query">SQL Query</label>
                <textarea id="query" class="form-control"></textarea>
                <div class="button">
                    <button class="btn btn-primary" id="save-query">
                        Save and execute
                    </button>
                </div>
            </div>
            <section>
                <label for="results">Results</label>
                <textarea id="results" class="flat form-control" readonly></textarea>
            </section>
        </main>
    </div>
</div>
<script src="/javascript/query.js"></script>