<div class="container">
  <div class="row">
    <section id="login-form" class="col">
      <h5>Log in</h5>
      <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" class="form-control" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" class="form-control" />
      </div>
      <div class="button">
        <button id="login" class="btn btn-primary">Login</button>
        <a href="/signup"><button id="login" class="btn btn-light">Signup</button></a>
      </div>

    </section>
  </div>
</div>
<script src="/javascript/login.js"></script>