<div class="container">
    <div class="row">
        <section id="signup-form" class="col">

            <h5>Sign up</h5>
            <div>
                <label for="fullname-signup">Full Name:</label>
                <input type="text" id="name-signup" class="form-control" placeholder="Jane Doe" />
            </div>
            <div>
                <label for="email-signup">Email:</label>
                <input type="text" id="email-signup" class="form-control" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" class="form-control" />
            </div>


            <div class="button">
                <button id="signup" class="btn btn-primary">Signup</button>
                <a href="/"><button id="login" class="btn btn-light">Login</button></a>
            </div>
        </section>

        <script src="/javascript/signup.js"></script>
    </div>
</div>